<nav class="menu" id="menu">
    <a class="menu-close-fallback" href="#">Close</a>
    <ul>
        <li>
            <a href="/">Voor wie</a>
        </li>
        <li>
            <a href="/">Over</a>
        </li>
        <details>
            <summary><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg><span>Projecten</span></summary>
            <ul>
                <li><a href="/nieuw-west">Nieuw-West</a></li>
                <li><a href="/oost">Oost</a></li>
                <li><a href="/zuidoost">Zuidoost</a></li>
            </ul>
        </details>
        <li>
            <a href="/">Vacatures</a>
        </li>
        <li>
            <a href="/">Agenda</a>
        </li>
    </ul>
</nav>