:root {
    interpolate-size: allow-keywords;
    --header-primary-background-color: #B4BDD0;
    --primary-orange-color: #EA5B0C;
    --primary-mud-color: #69604F;

    --secondary-forest-color: #29593F;
    --secondary-skin-color: #F9C19D;
    --secondary-grass-color: #6AA426;
    --secondary-stone-color: #BCB5AC;

    --primary-color-nieuw-west: #8EA34B;
    --primary-color-oost: #333467;
    --primary-color-zuid-oost: #085B64;
    


}

@font-face {
    font-family: Arial-regg;
    src: url(/arial.ttf);
}

@font-face {
    font-family: Buurtcampus-Arial;
    src: url(/BuurtCampusArial-Bold.woff);
}